.paper {
  position: relative !important;
  margin-top: 5px;
  border-radius: 10px !important;
  padding: 30px 0;
  p {
    margin-bottom: 15px;
    font-size: 18px;
  }
}

.title {
  font-weight: 500 !important;
  margin-bottom: 20px !important;
  font-size: 36px !important;
}

.text {
  a {
    color: rgb(32, 150, 253);
    text-decoration: underline;
  }
}
.sunscribe_btn {
  &__sub {
    background-color: #4683d9 !important;
  }
}

.userInfo {
  display: flex;
  align-items: center;
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
  }
  img {
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }
  b {
    width: fit-content !important;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 500;
  }
  span {
    font-size: 16px;
    color: #2ea83a;
    font-weight: 500;
  }
}

@media (max-width: 535px) {
  .userBlock {
    flex-wrap: wrap;
    .buttons {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
    button {
      margin-right: 10px;

      margin-top: 15px;
    }
  }
}

@media (max-width: 696px) {
  .userInfo {
    b {
      font-size: 15px;
    }
    span {
      font-size: 14px;
    }
  }
  .title {
    font-size: 30px !important;
  }
  .sunscribe_btn {
    b {
      width: auto !important;
      display: none !important;
    }
  }
}
