.fieldRoot {
  margin-top: 15px;
  padding: 17px 10px !important;
  background-color: #f7f7f7;
  border: 1px solid rgba(0, 0, 0, 0.03) !important;
  border-radius: 10px;
  cursor: pointer !important;
  margin-bottom: 30px;
  &__big {
    margin-top: 15px;
    padding: 17px 10px 57px 10px !important;
    background-color: #f7f7f7;
    border: 1px solid rgba(0, 0, 0, 0.03) !important;
    border-radius: 10px;
    cursor: pointer !important;
    &:after,
    &:before {
      display: none;
    }
  }
  &:after,
  &:before {
    display: none;
  }
}

.addButton {
  position: absolute !important;
  right: 15px;
  bottom: 15px;
}
.form {
  position: relative;
}
