.menu {
  width: 200px;
  position: fixed;
  top: 80px;
  margin-right: 30px;
  transition: all 0.5s;

  &__hidden {
    position: absolute;
    transform: translateX(-230px);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 4px;

      button {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        text-transform: inherit;
        font-size: 16px;
        font-weight: 400;
        box-shadow: none;

        span[class*='MuiButton-label'] {
          display: flex;
          align-items: center;
        }

        svg {
          margin-right: 10px;
        }
      }
    }
  }
}
@media (max-width: 630px) {
  .menu {
    position: fixed;
    background-color: #fff;
    height: 100%;
    z-index: 1;
    top: 60px;
    left: 0;
  }
}
