html,
body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2 !important;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

.content {
  max-width: 660px;
  width: 100%;
  margin: 0 auto;

  &--full {
    max-width: 1000px;
  }
}

.wrapper {
  display: flex;
  padding: 0 30px;
  padding-top: 80px;
}

.main-layout-white {
  background-color: #fff;
  height: 100vh;
}

.container {
  max-width: 680px;
  margin: 0 30px;

  &__full {
    max-width: 1000px;
    margin: 0 30px;
  }
}
.no_posts {
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
}
.container__post {
  margin-right: 20px;
}

@media (max-width: 540px) {
  .subscribers {
    display: none;
  }
  .container__post {
    margin-right: 0 !important;
  }
  .tabs__profile {
    font-size: 13px !important;
  }
}
@media (max-width: 399px) {
  body {
    min-width: 400px;
  }
}
