html,
body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2 !important;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
}

.content {
  max-width: 660px;
  min-width: 330px;
  width: 100%;
  margin: 0 auto;

  &--full {
    max-width: 1000px;
  }
}

.leftMenu {
  z-index: 3;
  width: 250px;
  margin-right: 50px;
  &__hidden {
    width: 0px;
  }
}

.wrapper {
  display: flex;
  padding: 0 30px;
  padding-top: 80px;
}

.main-layout-white {
  background-color: #fff;
  height: 100vh;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: rgba(#000000, 0.2);
  z-index: 1000;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.container {
  max-width: 680px;
  margin: 0 30px;

  &__full {
    max-width: 1000px;
    margin: 0 30px;
  }
}
.no_posts {
  margin-top: 30px;
  text-align: center;
  font-size: 40px;
}
.container__post {
  margin-right: 20px;
}

@media (max-width: 540px) {
  .subscribers {
    display: none;
  }
  .container__post {
    margin-right: 0 !important;
  }
  .tabs__profile {
    font-size: 13px !important;
  }
}
@media (max-width: 399px) {
  body {
    min-width: 400px;
  }
}
@media (max-width: 450px) {
  .leftMenu {
    margin: 0;
  }
}
